{% extends 'home/photo_base.html' %}

{% block section_body %}
    {% include 'home/photo_nav_header.html' %}
    {% include 'home/photo_nav_section.html' %}

    <section class="newsfeed">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6">
                    {% for post in page_obj %}
                        {% include 'post/post.html' with post=post %}
                    {% endfor %}
                    <div class="col" style="background-color: darkgrey" align="center">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a href="{{ page_obj.first_page_link }}">1</a>
                                <a href="{{ page_obj.previous_page_link }}">{{ page_obj.previous_page_number }}</a>
                            {% endif %}

                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>

                            {% if page_obj.has_next %}
                                <a href="{{ page_obj.next_page_link }}">{{ page_obj.next_page_number }}</a>
                                <a href="{{ page_obj.last_page_link }}">{{ page_obj.paginator.num_pages }}</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
                <div class="col-lg-3">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
